.clear{
	clear: both;
}

/*===============pagination========*/

.df-pagination_view{
	max-width: 880px;
	width: 100%;
	min-height: 70px;
	margin: 0 auto;
	background-color: #282828;
	text-align: center;
	font-family: "UbuntuBold";
}
.df-pagination__link1_view, .df-pagination__link2_view{
	text-align: left;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color:#d1d1cc;
	line-height: 65px;
	background-image: url("../img/dfleft1.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 29px;		
}
.df-pagination__link2_view{
	text-align: right;
	background-image: url("../img/dfright1.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 29px;	
	padding-left: 0;	
}
.df-pagination__link1_view:hover{
	background-image: url("../img/dfleft2.png");
	color: #e3181b;
}
.df-pagination__link2_view:hover{
	background-image: url("../img/dfright2.png");
	color: #e3181b;	
}
.df-pagination__numbers_view{
	display: inline-block;
    max-width: 570px;
    width: 100%;
    padding-top: 6px;
    // padding-left: 25px;
	a{
		font-size: 16px;
		color: #d1d1cc;		
		display: inline-block;
		padding: 15px 18px;
		border-radius: 50%;
		border: 1px solid transparent;	
	}	
	a:active, a:focus{
		border: 1px solid #e3181b;	
		color:#fff;	
	}
	a:hover{
		color: #e3181b;	
	}	
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	/*pagination*/
	.df-pagination__link1_view, .df-pagination__link2_view{		
		float: left;
		margin-left: 22px;
	}
	.df-pagination__link2_view{		
		float: right;
		margin-right: 22px;
	}
	.df-pagination__numbers_view{		
	    padding-left: 25px;
	}
}

@media only screen and (min-width : 1248px) {
}

