










.text-align-left{
	text-align: left !important;
}

/* Header
==============================*/
.header-wrap{
	padding: 12px 12px;
	background: #232323;
	.input-view-header{
		background: none;
		border: 1px solid #393938;
		border-radius:2px;
		height: 38px;
		width: 100%;
	}	
	
}
.ddinpbefore{
	position: relative;
}
.ddinpbefore:before{			
	content:"";
	position:absolute;
	background: url(../img/strel.svg) no-repeat;
	width: 8px;
	height: 5px;
	// left:66%;
	right: 90px;
	top:-13px;
	// z-index: 9999;
}	
.dd-logo{
	display:inline-block;
}
.dd-korzina{
	display: table;
	padding-top: 11px;
	float:right;
	.dd-korzina-img{
		display: table-cell;
		padding-right: 12px;
	}
	.dd-burger{
		display: table-cell;
		cursor: pointer;
	}
}
.lupa-submit{
	display:none;
}
.dd-korzina-txt{
	display: none;
}
.dd-reg-wrap{
	display:none;
}

/* Меню для декстопа
==============================*/
.dd-menu-dekstop-wrap{
	display:none;
	background:#2C2C2C;
}
.dd-menu{
	ul{
		li{
			display: inline-block;
			width: 190px;
			margin-left: -5px;
			a{
				width: 100%;
				display: inline-block;
				padding-top: 14px;
				padding-bottom: 14px;
				span:first-child{
					text-transform: uppercase;
					font-family: "UbuntuBold";
					color:#fff;
					font-size:14px;
				}
				span:last-child{
					color:#A3A39D;
					font-family: "RobotoRegular";
					font-size:12px;
					letter-spacing: 0.9px;
				}				
			}

		}
		li:hover{
			span:first-child{
				color: #d2d2d2;
			}		
		}
		li:nth-child(1){
			width: 190px;
			a{
				background: #282828 url(../img/burg.svg) no-repeat left 24px center;
				padding-left: 71px;
				// background-color: #282828;
			}
			a:hover{
				background: #282828 url(../img/burg2.svg) no-repeat left 24px center;
				span:first-child{
					color: #fff;
				}
				span:last-child{
					color: #d0d0c0;
				}
			}
		}
		li:nth-child(2){
			a{
				background: url(../img/f1.svg) no-repeat left 28px center;
				padding-left: 64px;
			}
			a:hover{
				background:#282828 url(../img/f1.svg) no-repeat left 28px center;
			}
		}
		li:nth-child(3){
			width: 124px;
			a{
				background: url(../img/f2.svg) no-repeat left 17px center;
				padding-left: 54px;
			}
			a:hover{
				background:#282828 url(../img/f2.svg) no-repeat left 17px center;
			}
		}
		li:nth-child(4){
			width: 138px;
			a{
				background: url(../img/f3.svg) no-repeat left 18px center;
				padding-left: 50px;
			}
			a:hover{
				background:#282828 url(../img/f3.svg) no-repeat left 18px center;
			}
		}
		li:nth-child(5){
			width: 120px;
			a{
				background: url(../img/f4.svg) no-repeat left 18px center;
				padding-left: 54px;
			}
			a:hover{
				background:#282828 url(../img/f4.svg) no-repeat left 18px center;
			}
		}
		li:nth-child(6){
			width: 206px;
			a{
				background: url(../img/f5.svg) no-repeat left 13px center;
				padding-left: 49px;
			}
			a:hover{
				background:#282828 url(../img/f5.svg) no-repeat left 13px center;
			}
		}
		li:nth-child(7){
			width: 175px;
			a{
				background: url(../img/f6.svg) no-repeat left 24px center;
				padding-left: 56px;
			}
			a:hover{
				background:#282828 url(../img/f6.svg) no-repeat left 24px center;
			}
		}
	}
}

/* Submenu
====================================*/
.dd-sub-menu{
	width: 100%;
	display:none;
	position:absolute;
	top:109px;
	// outline: 2px solid yellow;
	left:50%;
	transform:translate(-50%, 0);
	z-index:9999;
}
.dd-left{
	background: #2C2C2C;
	padding: 25px 0px;
}
.dd-center{
	background: #282828;
	padding: 25px 0px;
}
.dd-box{
	li{
		a{
			span:first-child{
				color:#fff;
				font-family: "UbuntuBold";
				text-transform: uppercase;
				font-size:14px;
			}
			span:last-child{
				color:#A2A29C;
				font-size: 14px;
				font-family: "RobotoRegular";
			}
		}
	}
}

.dd-box{
	li{
		margin-bottom: 20px;
		a{
			display: inline-block;
			height: 51px;
			padding-left: 79px;
			padding-top: 5px;
		}
	}
}
.dd-box1{
	li:first-child{
		a{
			background: url(../img/mp1.svg) no-repeat left 13px center;
		}
	}
	li:last-child{
		a{
			background: url(../img/mp2.svg) no-repeat left 13px center;
		}
	}
}
.dd-box2{
	li:first-child{
		a{
			background: url(../img/mp3.svg) no-repeat left 13px center;
		}
	}
	li:last-child{
		a{
			background: url(../img/mp4.svg) no-repeat left 13px center;
		}
	}
}

// Центральный блок
.dd-center{
	padding-left: 28px;
	background: #232323;
}
.dd-box-center{
	li{
		width: 250px;
		position:relative;
		a{
			display: block;
			color:#C6C6C1;
			font-size: 16px;
			font-family: "RobotoRegular";
			padding-left: 38px;
			margin-bottom: 20px;
			position:relative;
		}
		a:hover{
			color: #fff;
		}
		a:after{
			content:"";
			position:absolute;
			background: url(../img/plus.svg) no-repeat !important;
			width: 17px;
			height: 17px;
			right: -30px;
			top:3px;
			display: none;
		}
		a:hover:after{			
			background: url(../img/plus2.svg) no-repeat !important;
		}
		.active{
			position:relative;
		}
		.active:after{
			content:"";
			position:absolute;
			background: url(../img/minus.svg) no-repeat !important;
			width: 17px;
			height: 17px;
			right:-30px;
		}
		.active:hover:after{			
			background: url(../img/minus2.svg) no-repeat !important;
		}
		.dd-min-menu{
			display:none;
			border-left:4px solid #FFA500;
			margin-left: 10px;

			li{

				a{
					padding-left: 27px;
					background: unset;
				}
				.dd-next{
					background: url(../img/kstr.svg) no-repeat right 55px center !important;
				}
				a:after{
					background: unset !important;
				}
			}
		}
	}
	li:nth-child(1){
		a{
			background: url(../img/f5.svg) no-repeat left center;
		}
	}
	li:nth-child(2){
		a{
			background: url(../img/f4.svg) no-repeat left center;
		}
	}
	li:nth-child(3){
		a{
			background: url(../img/f6.svg) no-repeat left center;
		}
	}
	li:nth-child(4){
		a{
			background: url(../img/f1.svg) no-repeat left center;
		}
	}
	li:nth-child(5){
		a{
			background: url(../img/f2.svg) no-repeat left center;
		}
	}
	li:nth-child(6){
		a{
			background: url(../img/f3.svg) no-repeat left center;
		}
	}
	li:nth-child(7){
		a{
			background: url(../img/tal.svg) no-repeat left center;
		}
	}

}

// Правая часть
.dd-right{
	li:nth-child(1){
		a{
			background: url(../img/d1.svg) no-repeat left center;
		}
	}
	li:nth-child(2){
		a{
			background: url(../img/d2.svg) no-repeat left center;
		}
	}
	li:nth-child(3){
		a{
			background: url(../img/d3.svg) no-repeat left center;
		}
	}
	li:nth-child(4){
		a{
			background: url(../img/d4.svg) no-repeat left center;
		}
	}
	li:nth-child(5){
		a{
			background: url(../img/d5.svg) no-repeat left center;
		}
	}
	li:nth-child(6){
		a{
			background: url(../img/d6.svg) no-repeat left center;
		}
	}
	li:nth-child(7){
		a{
			background: url(../img/d7.svg) no-repeat left center;
		}
	}
}

// Регистрация в sub menu
.dd-reg-mobile{
	padding-left: 12px;
	padding-top: 31px;
	padding-bottom: 31px;
	background:#232323;
	text-align: center;
	width: 100%;
	a{
		display: inline-block;
		color:#6E6E69;
		font-family: "RobotoRegular";
		font-size: 14px;
	}
	a:last-child{
		padding-left: 18px;
	}
}
.dd-title-dekstop{
	display:none;
}

/* Catalog.php
=======================================*/

.pt-side{
	padding-top: 34px;
}
.dd-brad-wrap{
	padding: 30px 0px;
	background: #1E1E1E;
}
.dd-catalog-content{
	background:#1E1E1E;
}
.dd-bradcrumps{
	a, span{
		color:#A2A29C;
		font-family: "RobotoRegular";
		font-size: 15px;
	}
	a:hover{
		color: #d0d0c0;
	}
	span{
		color:#6D6D69;
		padding-left: 28px;
	}
}
.dd-catalog-title{
	padding-top: 20px;
	float:left;
	span:first-child{
		color:#fff;
		font-size:35px; 
		font-family: "UbuntuBold";
	}
	span:last-child{
		display: inline-block;
		padding-left: 38px;
		color:#6D6D69;
		font-family: "RobotoRegular";
		font-size: 15px;
	}
}
.dd-knopki{
	float:right;
	a{
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	a:first-child{
		background: url(../img/pl1.svg) no-repeat top center;
		margin-right: 17px;
	}
	a:last-child{
		background: url(../img/pl2.svg) no-repeat top center;
	}
}
.dd-catalog-reg-wrap{
	background: #2C2C2C;
	padding: 13px 0px;
	span{
		font-family: "Conv_pt-serif_[allfont.ru]";
		font-style: italic;
		display: inline-block;
		color:#797974;
		font-size: 13px;
	}
}
.dd-catalog-reg-left{
	float:left;
}
.dd-catalog-reg-right{
	float:right;
	a{
		display: inline-block;
		padding-right: 22px;
		color:#6D6D69;
		font-family: "RobotoRegular";
		font-size: 15px;
	}
	a:hover{
		color: #d0d0d0;
	}
}
.flout-l{
	float:left;
	margin-left: 1px;
}
.float-left-only{
	float:left;
}
.float-right-only{
	float:right;
}
.marg-left{
	// margin-left: 116px;
}
.dd-korzina-catalog{
	padding-top: 0 !important;
}
.form-catalog{
	display:none;
	float: left;
	margin-left: 116px;	
	border: 1px solid transparent;
	transition:0.3s;
}
.form-catalog:hover{
	border: 1px solid #e3181b;
	border-radius: 2px;		
}


.az-select-reiting{
	height: 27px !important;
	width: 160px !important;
	padding-top: 0 !important;
	margin-left: 12px;
	select{
		height: 27px !important;
	}
}
.az-select-reiting:before{
	right:5px !important;
}
.dd-sortirovka{
	span, .dd-a-recomend, .dd-a-recomend2{
		display: inline-block;
		color:#6D6D69;
		font-family: "RobotoRegular";
		font-size: 15px;
	}
	.dd-a-recomend{
		color:#FFA500;
	}
}
.padding-none{
	padding-left: 0;
	padding-right: 0;
}
.dd-cat{
	margin-bottom: 28px;
}
.dd-krug{
	padding-top: 104px;
	padding-bottom: 113px;
}
.mt2{
	margin-top: 2px !important;
}
.margin-top-minus{
	top:23px !important;
	right: 20px !important;
}
.dd-tovar-empty{
	color:black;
	font-family: "RobotoRegular";
	font-size: 14px;
}
.dd-tovar-empty2{
	color:#FFA500;
	display:block;
	text-align:left;
	margin-bottom: -7px;
}
.bg-price{
	background: #FFEAC4;
	border-radius:3px;
	padding: 7px 22px;
	// display:inline-block;
	// vertical-align:bottom;
}
.bg-price2{
	background: #FFEAC4;
	vertical-align:unset !important;
	padding: 7px 5px !important; 
}
.margin-none{
	margin-bottom: 0;
}

.catalog-tablet-wrap{
	background: #fff !important;
	width: 100%;
	
}

/* Tablet catalog
==================================*/
.dd-border-bottom{
	border-bottom:1px solid #EAEAEA;
	padding-bottom: 85px;
	// padding-bottom: 36px;
	padding-top: 10px;
}
.catalog-tablet-wrap{
	// padding-left: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.dd-cat-txt{
	padding-left: 30px;
	padding-right: 26px;
	padding-top: 12px;
	h4{
		font-size: 16px;
		color: #1e1e1e;
		font-family: "UbuntuBold";
		text-transform: uppercase;
		line-height: 20px;
	}
	span{
		font-size: 14px;
		color: #a9a99c;
		line-height: 19px;
		font-family: "RobotoRegular";
		margin: 15px 0 10px 0;
		display: inline-block;
	}
	p{
		color: #74746c;
		font-size: 14px;
		line-height: 19px;
		font-family: "RobotoRegular";
		padding-bottom: 0px;
	}
}
.dd-cat-but{
	padding-top: 22px;
}
.price-bg-cat{
	background: #FFEAC4;
	width: 114px;
	height: 60px;
	padding: 10px 15px;
	border-radius:3px;
	margin-top: 5px;
}
.price-bg-cat2{
	height: 42px;
}
.after-cat,.after-cat2 {
	position:relative;
}
.after-cat2{
	padding: 10px 5px !important;
}
.after-cat:after{
	content:"";
	position:absolute;
	right:-38px;
	top:0;
	width: 40px;
	height: 36px;
	background: #EA2427 url(../img/s.png) no-repeat center;	
	border-radius: 0 3px 3px 0px;
	transition:0.3s;
}

.after-cat:hover:after{
	background: #ff4e51 url(../img/s.png) no-repeat center;
}
.after-cat2:after{
	content:"";
	position:absolute;
	right:-38px;
	top:0;
	width: 40px;
	height: 52px;
	background: #EA2427 url(../img/s.png) no-repeat center;
	border-radius: 0 3px 3px 0px;
	transition:0.3s;
}
.after-cat2:hover:after{
	background: #ff4e51 url(../img/s.png) no-repeat center;
}
.dd-right-cat3{
	height: 42px !important;
}
.dd-right-cat{
	width: 154px;
	margin: 0 auto;
}
.dd-left-cat-img{
	text-align:center;
	position:relative;
}
.dd-prod{
	position:absolute;
	top:100px;
	// left:75px;
	left:48%;
	transform:translate(-50px);
}
.dd-my-absolute{
	position:absolute;
	left:10px;
	top:-10px;
	#df-another{
		.df-catalog__show_view:after{
			background-image: url("../img/dfleft2.svg");		
		}
	}
}
.dd-top{
	top:15px;
}
.top2{
	top:17px;
}
.img-padding{
	padding-top: 30px;
}
.img-padding2{
	padding-top: 40px;
}
.dd-my-absolute2{
	position:absolute;
	left:70px;
	top:-10px;
}
.text-left{
	text-align:left !important;
	.df-catalog__show_view::after {
		content: "";
		position: absolute;
		top: 15px;
		left: -5px;
		width: 5px;
		height: 7px;
		background-image: url("../img/dfleft3.svg");
		background-repeat: no-repeat;
		background-position: right center;
	}
}
.dd-box-center, .dd-box{
	width: 300px;
	margin: 0 auto;
}
.fl{
	background: #fff;
	display:none;
	float:left;
	width: 291px;
}
.fl-height{
	min-height: 475px !important;
}
.dd-rec{
	text-align:left;
	span{
		margin-left: 24px;
		display: inline-block;
		background-color: #e3181b;
		border-radius: 2px;
		padding: 6px 13px;
		color:#fff;
		font-family: "RobotoRegular";
		font-size: 11px;
	}
}
// .dd-hidden{
// 	display:none;
// }
@media only screen and (min-width : 320px) {

	// Submenu
	.dd-center, .dd-left{
		// width: 320px;
		// margin: 0 auto;
	}
	.dd-box-center{
		li{
			a:after{
				display: block;
			}
		}
	}
	// конец submenu

	.header-wrap{
		.input-view-header{
			width: 100%;
			position: relative;
			display: block;
		}

		.dd-input-header{
			position:relative;
			
			display: block;
		}
		.dd-hidden{
			// visibility: hidden;
			display: none;
		}

		.lupa-submit{
			position:absolute;
			// left:64%;
			right: 83px;
			// top:-53px;
			top:-43px;
			display:block;
			outline: none;
			border:none;
			background: url(../img/lupa.svg) no-repeat;
			width: 22px;
			height: 22px;
		}			
	}
}
.dd-korzina-img{				
	.ddimg2{
		display: none;
	}
}		
.ddkorz:hover{			
	.ddimg1{
		display: none;
	}
	.ddimg2{
		display: inline-block;
	}
	.dd-korzina-txt span{
		color: #d0d0c0 !important;
	}
}
@media only screen and (min-width : 480px) {
	.dd-korzina{
		.dd-korzina-img{
			padding-right: 20px;
		}
	}
}

@media only screen and (min-width : 768px) {
	.ddinpbefore{
		position: relative;
	}
	.ddinpbefore:before{		
		background: none;		
	}
	// submenu
	.dd-sub-menu{
		top:105px;
	}
	.dd-bg-black{
		width: 100%;
		background: #232323;
		// outline: 2px solid blue;
	}
	.dd-right{
		padding-bottom: 46px;
	}
	.dd-center, .dd-left{
		width: 320px;
		margin: 0 auto;
	}
	.dd-left-center{
		width: 641px;
		margin: 0 auto;
	}
	.dd-center{
		float: left;
		// height: 354px;
	}
	.dd-left{
		width: 100%
	}
	.dd-box{
		float: left;
	}
	.dd-box2{
		padding-left: 75px;
	}
	// end submenu
	.header-wrap{
		.input-view-header{
			height: 44px;			
		}
		
		.lupa-submit{
			display: none;
		}
		.dd-hidden{
			// visibility: visible;
			display: block;			
		}		
		.dd-input-header:before{
			display: none;
		}
		.clearfix-display{
			display: none;
		}
		.dd-logo{
			float:left;
		}
		.dd-input-header{
			float: right;
			width: 298px;
			margin-right: 55px;
		}
		.clearfix-display2{
			display: block;
		}	
	}
}

@media only screen and (min-width : 992px) {

	// submenu


	.dd-box-center, .dd-box{
		width: unset;
	}
	.dd-sub-menu{
		left:0%;
		transform:translate(0%, 0);
		z-index:9999;
	}
	.dd-title-dekstop{
		display:block;
		padding-bottom: 26px;
		span{
			color:#fff;
			font-family: "UbuntuBold";
			font-size: 25px;
		}
	}
	.dd-right{
		padding-top: 82px;
		padding-bottom: 43px;
	}
	.sub-clearfix{
		display: none;
	}
	.dd-box{
		float: unset;
	}
	.dd-box2{
		padding-left: 0;
	}
	.dd-left, .dd-left-center{
		float: left;
	}
	.dd-left{
		padding-top: 85px;
		padding-bottom: 64px;
		width: 288px;
		// height: 486px;
	}
	.dd-reg-mobile{
		display: none;
	}
	.dd-center{
		// height: 486px;
	}
	
	// end submenu
}


@media only screen and (min-width : 1248px) {
	.fix-height{
		min-height: 505px;
	}
	.dd-left-center{
		width: 934px;
	}
	.fl{
		display: block;
	}
	.dd-border-bottom{
		padding-bottom: 36px;
	}
	.dd-center-cat{
		width: 415px;
	}
	.dd-left-cat, .dd-center-cat, .dd-right-cat{
		float: left;
	}
	.dd-right-cat{
		padding-top: 50px;
	}
	.dd-right-cat2{
		padding-top: 66px;
	}
	.dd-left-cat{
		width: 268px;
	}
	.dd-right-cat3{
		padding-top: 131px;
	}
	.dd-right-cat4{
		padding-top: 166px;
	}
	.dd-right-cat5{
		padding-top: 100px;
	}
	/////////////////


	.form-catalog{
		display:block;			
	}
	.dd-sub-menu{
		// position:absolute;
		// top:187px;
		top:176px;
	}
	.dd-sub-menu-catalog{
		top:220px;
	}
	.dd-menu-dekstop-wrap{
		display:block;
	}
	.header-wrap{
		background: #1E1E1E;
		padding: 30px 0px 28px;
		.input-view-header{
			display: none;
		}
		.dd-burger{
			display: none;
		}
		.dd-korzina{
			display: inline-block;
		}
		.dd-korzina-img{
			background: #232323;
			width: 50px;
			height: 50px;
			border-radius:25px;
			display: block;
			padding-left: 16px;
			padding-top: 14px;
			float:left;
			margin-top: -7px;			
			.ddimg2{
				display: none;
			}
		}
		.ddkorz{
			float: right;
		}
		.ddkorz:hover{			
			.ddimg1{
				display: none;
			}
			.ddimg2{
				display: inline-block;
			}
		}
		.dd-korzina-txt{
			display: block;
			float:left;
			padding-left: 16px;
			span:first-child{
				color:#A3A39D;
				text-transform: uppercase;
				font-family: "UbuntuBold";
				font-size: 14px;
			}
			span:last-child{
				color:#7A7A74;
				font-family: "RobotoRegular";
				font-size: 14px;
			}
		}
		.dd-reg-wrap{
			float: left;
			display: block;
			padding-right: 60px;
			padding-top: 10px;
			font-size: 14px;
			span{
				a{
					color:#7A7A74;
					font-family: "RobotoRegular";
				}
				a:hover{
					color: #d0d0c0;
				}
			}
			span:first-child{
				padding-right: 30px;
			}
		}	
	}
}

