.cart { padding: 38px 0; font-family: "RobotoRegular"; }
.cart .advantages { padding-bottom: 10px; }
.cart .advantages span { display: inline-block; margin-right: 2px; padding: 3px 14px 5px; background: #282828; color: #fff; font-size: 14px; }
.cart .advantages-red { background: #e3181b !important; }
.cart .slide_info_in { width: 100%; position: relative; outline: none; }
.cart .slide_info_img img { width: 100%; height: auto; display: block; min-height: 100%; }
.cart .slider-for .slide_info_img { width: 667px; height: 503px; overflow: hidden; margin: 0 auto; }
.cart .slider-nav { max-width: 450px; padding: 10px 0; }
.cart .slider-nav .slide_info_in { cursor: pointer; border-bottom: 2px solid transparent; transition: 0.7s all ease; }
.cart .slider-nav .slick-current { border-bottom: 2px solid #e3181b; }
.cart .product { padding: 7px 15px 0 45px; }
.cart .product h1 { color: #1e1e1e; font-size: 34px; padding: 10px 0; font-family: 'Myriad Pro', arial, sans-serif; }
.cart .product .pick__title { display: inline-block; padding: 7px 7px 10px 0; font-size: 14px; }
.cart .select-block { display: inline-block; padding: 9px 0 13px; margin-right: 18px; }
.cart .select-block .select__title { color: #797974; font-size: 14px; display: block; padding: 3px 0; }
.cart .select-block .az-select { width: 168px; height: 36px; padding: 0; }
.cart .quantity { padding: 15px 0 30px; }
.cart .quantity .df-number { display: inline-block; }
.cart .quantity__title { padding: 3px 0 0 16px; font-size: 26px; color: #1e1e1e; font-family: "UbuntuBold"; display: inline-block; }
.cart .quantity .btn-block { padding: 15px 0; }
.cart .product__descr { font-size: 14px; color: #74746c; padding: 13px 33px 30px 0; }
.cart .links .link { display: block; padding: 16px 0 2px 36px; background: url(../img/product_links.png) 0px 15px no-repeat; }
.cart .links .link:nth-child(2) { background: url(../img/product_links.png) 0px -24px no-repeat; }
.cart .links .link:nth-child(3) { background: url(../img/product_links.png) 0px -65px no-repeat; }
.cart .links .link:nth-child(4) { background: url(../img/product_links.png) 0px -102px no-repeat; }
.cart .links span { color: #282828; display: inline-block; border-bottom: 1px dashed #cacaca; }

.basket { font-family: "RobotoRegular"; background: #282828; }
.basket .box-1 { display: block; background: #1e1e1e; color: #797974; font-size: 14px; padding: 55px 0 50px; }
.basket .box-1 a { display: inline-block; color: #a2a29c; font-size: 14px; font-weight: bold; min-width: 160px; padding: 10px 10px; }
.basket h3 { display: block; color: #fff; font-size: 34px; font-weight: 400; font-family: "UbuntuBold"; padding: 0px 10px 30px 0; }
.basket h3 span { display: inline-block; }
.basket .box__title { padding: 5px 0 5px 25px; }
.basket .nam, .basket .box__title { display: block; float: left; font-size: 14px; color: #797974; font-family: "RobotoRegular", arial, sans-serif; }
.basket .nam-img, .basket .box__title-img { width: 270px; }
.basket .nam-txt, .basket .box__title-txt { width: 400px; padding: 0 56px 0 25px; }
.basket .nam-quan, .basket .box__title-quan { width: 15%; text-align: center; }
.basket .nam-price, .basket .box__title-price { width: 15%; text-align: center; }
.basket .nam-quan, .basket .nam-price { padding-top: 60px; }
.basket .nam-close__btn { border: none; width: 16px; height: 16px; position: absolute; top: 50%; margin-top: -8px; right: 23px; background: url(../img/close_ic.jpg) center no-repeat; outline: none; }
.basket .box-2 { background: #fff; display: block; font-size: 14px; padding: 0 45px 0 22px; border: 3px solid transparent; line-height: 20px; position: relative; }
.basket .box-2:hover { border-color: #fbc562; }
.basket .box-2:hover::before { display: none; }
.basket .box-2::before { content: ""; width: 94%; left: 2%; bottom: -3px; height: 1px; position: absolute; display: block; background: #eaeaea; }
.basket .box-2 .clearfix { padding: 24px 0; }
.basket .box-2 a { display: inline-block; font-size: 12px; font-weight: bold; min-width: 160px; padding: 20px 0 -5px; }
.basket .box-2 .item__img { max-width: 230px; max-height: 170px; margin: auto; overflow: hidden; }
.basket .box-2 .item__img img { max-width: 100%; max-height: 100%; height: auto; display: block; }
.basket .name2 { color: #282828; font-size: 14px; padding: 2px 0; }
.basket .name12 { font-size: 14px; color: #a9a99c; }
.basket h4 { font-size: 16px; color: #1e1e1e; font-weight: 400; padding: 30px 0 5px; font-family: "UbuntuBold"; padding: 40px 0 5px; }
.basket .nam strong { color: #1e1e1e; font-family: "UbuntuBold"; font-size: 20px; display: block; }
.basket .box-itog { display: block; padding: 35px 25px; }
.basket .item__itog { display: block; font-weight: bold; font-size: 22px; color: #1e1e1e; float: left; width: 50%; }
.basket .item__itog--right { float: right; text-align: right; padding: 5px 60px 5px; }
.basket .item__itog--right a { text-transform: uppercase; }
.basket .itog span { display: inline-block; background: #ffeac4; width: 120px; line-height: 40px; text-align: center; }

.basket-3 { padding: 50px 0 0; }
.basket-3 h3 { padding-bottom: 20px; }
.basket-3 .descr { font-size: 16px; color: #a2a29c; display: block; max-width: 680px; }
.basket-3 .orders-block { padding: 45px 0; overflow: hidden; }
.basket-3 .order { padding-bottom: 45px; }
.basket-3 .order__descr { padding-bottom: 18px; }
.basket-3 .order__num { float: left; display: block; color: #fff; font-size: 22px; font-family: "UbuntuBold"; padding-bottom: 20px; }
.basket-3 .order__num i { font-style: normal; display: inline-block; padding-left: 4px; }
.basket-3 .order__date { float: right; font-size: 16px; color: #a2a29c; }
.basket-3 .nam-txt, .basket-3 .box__title-txt { width: 440px; padding: 0 56px 0 25px; }
.basket-3 .box__title-txt { padding: 0 56px 0 45px; }
.basket-3 .nam-quan, .basket-3 .box__title-quan { width: 250px; text-align: left; }
.basket-3 .nam-price, .basket-3 .box__title-price { width: 100px; text-align: left; }
.basket-3 .nam-txt h4, .basket-3 .nam-txt span { font-family: "RobotoRegular"; font-size: 14px; color: #282828; display: block; font-weight: 400; }
.basket-3 .nam-quan span, .basket-3 .nam-price span { display: block; font-size: 14px; color: #282828; }
.basket-3 .nam-quan span i, .basket-3 .nam-price span i { font-style: normal; display: inline-block; padding-left: 3px; }
.basket-3 .box-2:hover { border-color: transparent; }
.basket-3 .box-2:hover:hover::before { display: block; }
.basket-3 .info { padding: 34px 25px; background: #fff; }
.basket-3 .inner { float: left; }
.basket-3 .inner__title { color: #797974; font-size: 14px; text-transform: uppercase; font-family: "UbuntuBold"; display: block; padding-bottom: 15px; }
.basket-3 .inner b { display: block; font-weight: 400; color: #282828; font-size: 16px; font-family: "UbuntuBold"; }
.basket-3 .delivery { width: 50%; }
.basket-3 .delivery p { max-width: 440px; color: #282828; font-size: 14px; line-height: 23px; padding-right: 20px; }
.basket-3 .price { width: 25%; padding: 0 20px 30px 0; }
.basket-3 .itog { width: 25%; }
.basket-3 .end { background: #282828; float: right; }
.basket-3 .end__in { float: left; padding: 0 35px 50px 20px; }
.basket-3 .end__title { color: #d1d1cc; text-transform: uppercase; font-family: "UbuntuBold"; display: block; font-size: 16px; padding-bottom: 10px; }
.basket-3 .end__price { color: #fff; font-family: "UbuntuBold"; display: block; font-size: 16px; }
.basket-3 .end-itog { background: #1e1e1e; padding: 56px 0 50px; }
.basket-3 .end-itog__in { float: right; padding-right: 80px; }
.basket-3 .end-itog__in span { color: #fff; font-size: 22px; font-family: "UbuntuBold"; display: block; }
.basket-3 .end-itog__in span i { font-style: normal; display: inline-block; color: #1e1e1e; padding: 0 4px; line-height: 40px; background: #ffeac4; margin-left: 2px; border-radius: 2px; }

.ch-block { display: inline-block; }
.ch-block label { display: inline-block; }
.ch-block label .checkbox-custom { margin: 0; border: 2px solid #fff; }
.ch-block label .checkbox-custom--grey { background: #d3d3d3; }
.ch-block label .checkbox-custom--black { background: #000; }
.ch-block label .checkbox-custom--green { background: #6c9873; }
.ch-block label .checkbox-custom--light { background: #f0f0f0; }
.ch-block .checkbox:checked + .checkbox-custom::before { content: ""; display: block; position: absolute; top: -4px; right: -4px; bottom: -4px; left: -4px; background: #d3d3d3; border-radius: 10em; z-index: -2; }
.ch-block .checkbox:checked + .checkbox-custom--black::before { background: #000; }
.ch-block .checkbox:checked + .checkbox-custom--green::before { background: #6c9873; }

@media only screen and (max-width: 1200px) { .basket-3 .nam-txt { width: 300px; padding: 0 30px 0 0px; }
  .basket-3 .box__title-txt { padding: 0 56px 0 25px; width: 300px; }
  .basket-3 .box__title-quan, .basket-3 .nam-quan { width: 200px; } }
@media only screen and (max-width: 1000px) { .basket .box-1 .clearfix { display: none; }
  .basket .nam-txt { width: 350px; padding: 10px; height: 170px; overflow: hidden; }
  .basket .nam-quan, .basket .nam-price { width: 50%; }
  .basket .nam-quan > div, .basket .nam-price > div { margin: 0 auto; }
  .basket-3 .nam-img, .basket-3 .box__title-img { width: 230px; }
  .basket-3 .nam-txt, .basket-3 .box__title-txt { width: 290px; }
  .basket-3 .nam-quan, .basket-3 .box__title-quan, .basket-3 .nam-price, .basket-3 .box__title-price { width: 100px; }
  .basket-3 .box__title-quan, .basket-3 .box__title-price { width: 100px; padding-left: 10px; }
  .basket-3 .price { width: auto; }
  .basket-3 .box-2 { padding: 0 10px; margin-bottom: -1px; } }
@media only screen and (max-width: 760px) { .basket .box-2 .clearfix > div { width: 100%; padding: 15px; }
  .basket .box-2 .clearfix > div .nam-txt { height: auto; }
  .basket .item__itog { width: 100%; padding: 15px; float: none; text-align: center; }
  .basket .nam-close__btn { margin-top: 0; top: 100px; }
  .basket-3 .box-1 { padding: 20px 10px; }
  .basket-3 .order__num, .basket-3 .order__date { padding: 0 10px 25px; }
  .basket-3 .box__title-wrap { display: none; }
  .basket-3 .box-2 { margin-bottom: 0; }
  .basket-3 .box-2 .clearfix > .nam-img { width: 40%; }
  .basket-3 .box-2 .clearfix > .nam-txt { width: 60%; height: 200px; overflow: hidden; }
  .basket-3 .box-2 .item__info { padding-top: 10px; }
  .basket-3 .box-2 .clearfix > .nam-quan, .basket-3 .box-2 .clearfix > .nam-price { width: 50%; text-align: center; } }
@media only screen and (max-width: 550px) { .basket-3 .inner { width: 100%; padding-bottom: 30px; }
  .basket-3 .inner p { max-width: 100%; }
  .basket-3 .order__num, .basket-3 .order__date { display: block; width: 100%; padding: 10px; }
  .basket-3 .box-2 { margin-bottom: 0; }
  .basket-3 .box-2 .clearfix > .nam-img { width: 230px; padding: 0; }
  .basket-3 .box-2 .clearfix > .nam-txt { width: auto; float: none; margin-left: 200px; padding: 5px 0 0 10px; }
  .basket-3 .box-2 .item__info { padding-top: 10px; }
  .basket-3 .box-2 .clearfix > .nam-quan, .basket-3 .box-2 .clearfix > .nam-price { width: 50%; text-align: center; } }
@media only screen and (max-width: 550px) { .basket-3 .box-2 .clearfix .nam-img, .basket-3 .box-2 .clearfix .nam-txt, .basket-3 .box-2 .clearfix .nam-quan, .basket-3 .box-2 .clearfix .nam-price { width: 100%; padding: 0 0 15px; margin: 0; }
  .basket-3 .box-2 .clearfix .nam-txt { height: auto; }
  .basket-3 .end-itog__in { padding-right: 20px !important; } }
