body{
	background:#282828;
}



/* Header
==============================*/
.header-wrap{
	padding: 12px 12px;
	background: #232323;
	.input-view-header{
		background: none;
		border: 1px solid #393938;
		border-radius:2px;
		height: 38px;
		width: 100%;
	}	
}
.dd-logo{
	display:inline-block;
}
.dd-korzina{
	display: table;
	padding-top: 11px;
	float:right;
	.dd-korzina-img{
		display: table-cell;
		padding-right: 8px;
	}
	.dd-burger{
		display: table-cell;
		cursor: pointer;
	}
}
.lupa-submit{
	display:none;
}
.dd-korzina-txt{
	display: none;
}
.dd-reg-wrap{
	display:none;
}

/* Меню для декстопа
==============================*/
.dd-menu-dekstop-wrap{
	display:none;
}
.dd-menu{
	ul{
		li{
			display: inline-block;
			width: 190px;
			a{
				width: 100%;
				display: inline-block;
				padding-top: 14px;
				padding-bottom: 14px;
				span:first-child{
					text-transform: uppercase;
					font-family: "UbuntuBold";
					color:#fff;
					font-size:15px;
				}
				span:last-child{
					color:#A3A39D;
					font-family: "RobotoRegular";
					font-size:12px;
				}
			}

		}
		li:nth-child(1){
			width: 190px;
			a{
				background: #282828 url(../img/burg.png) no-repeat left 24px center;
				padding-left: 71px;
				// background-color: #282828;
			}
		}
		li:nth-child(2){
			a{
				background: url(../img/f1.png) no-repeat left 28px center;
				padding-left: 64px;
			}
			a:hover{
				background:#282828 url(../img/f1.png) no-repeat left 28px center;
			}
		}
		li:nth-child(3){
			width: 124px;
			a{
				background: url(../img/f2.png) no-repeat left 17px center;
				padding-left: 54px;
			}
			a:hover{
				background:#282828 url(../img/f2.png) no-repeat left 17px center;
			}
		}
		li:nth-child(4){
			width: 138px;
			a{
				background: url(../img/f3.png) no-repeat left 18px center;
				padding-left: 50px;
			}
			a:hover{
				background:#282828 url(../img/f3.png) no-repeat left 18px center;
			}
		}
		li:nth-child(5){
			width: 120px;
			a{
				background: url(../img/f4.png) no-repeat left 18px center;
				padding-left: 54px;
			}
			a:hover{
				background:#282828 url(../img/f4.png) no-repeat left 18px center;
			}
		}
		li:nth-child(6){
			width: 206px;
			a{
				background: url(../img/f5.png) no-repeat left 13px center;
				padding-left: 49px;
			}
			a:hover{
				background:#282828 url(../img/f5.png) no-repeat left 13px center;
			}
		}
		li:nth-child(7){
			width: 175px;
			a{
				background: url(../img/f6.png) no-repeat left 24px center;
				padding-left: 56px;
			}
			a:hover{
				background:#282828 url(../img/f6.png) no-repeat left 24px center;
			}
		}
	}
}

/* Submenu
====================================*/
.dd-sub-menu{
	display:none;
	position:absolute;
	top:102px;
	// top:196px;
	left:50%;
	transform:translate(-50%, 0);
	z-index:9999;
}
.dd-left{
	background: #2C2C2C;
	padding: 25px 0px;
}
.dd-center{
	background: #282828;
	padding: 25px 0px;
}
.dd-box{
	li{
		a{
			span:first-child{
				color:#fff;
				font-family: "UbuntuBold";
				text-transform: uppercase;
				font-size:14px;
			}
			span:last-child{
				color:#A2A29C;
				font-size: 14px;
				font-family: "RobotoRegular";
			}
		}
	}
}

.dd-box{
	li{
		margin-bottom: 20px;
		a{
			display: inline-block;
			height: 51px;
			padding-left: 79px;
			padding-top: 5px;
		}
	}
}
.dd-box1{
	li:first-child{
		a{
			background: url(../img/mp1.png) no-repeat left 13px center;
		}
	}
	li:last-child{
		a{
			background: url(../img/mp2.png) no-repeat left 13px center;
		}
	}
}
.dd-box2{
	li:first-child{
		a{
			background: url(../img/mp3.png) no-repeat left 13px center;
		}
	}
	li:last-child{
		a{
			background: url(../img/mp4.png) no-repeat left 13px center;
		}
	}
}

// Центральный блок
.dd-center{
	padding-left: 28px;
	background: #232323;
}
.dd-box-center{
	li{
		width: 250px;
		position:relative;
		a{
			display: block;
			color:#C6C6C1;
			font-size: 16px;
			font-family: "RobotoRegular";
			padding-left: 38px;
			margin-bottom: 20px;
			position:relative;
		}
		a:after{
			content:"";
			position:absolute;
			background: url(../img/plus.png) no-repeat !important;
			width: 17px;
			height: 17px;
			right: -30px;
			top:3px;
			display: none;
		}
		.active{
			position:relative;
		}
		.active:after{
			content:"";
			position:absolute;
			background: url(../img/minus.png) no-repeat !important;
			width: 17px;
			height: 17px;
			right:-30px;
		}
		.dd-min-menu{
			display:none;
			border-left:4px solid #FFA500;
			margin-left: 10px;

			li{

				a{
					padding-left: 27px;
					background: unset;
				}
				.dd-next{
					background: url(../img/kstr.png) no-repeat right 55px center !important;
				}
				a:after{
					background: unset !important;
				}
			}
		}
	}
	li:nth-child(1){
		a{
			background: url(../img/f5.png) no-repeat left center;
		}
	}
	li:nth-child(2){
		a{
			background: url(../img/f4.png) no-repeat left center;
		}
	}
	li:nth-child(3){
		a{
			background: url(../img/f6.png) no-repeat left center;
		}
	}
	li:nth-child(4){
		a{
			background: url(../img/f1.png) no-repeat left center;
		}
	}
	li:nth-child(5){
		a{
			background: url(../img/f2.png) no-repeat left center;
		}
	}
	li:nth-child(6){
		a{
			background: url(../img/f3.png) no-repeat left center;
		}
	}
	li:nth-child(7){
		a{
			background: url(../img/tal.png) no-repeat left center;
		}
	}

}

// Правая часть
.dd-right{
	li:nth-child(1){
		a{
			background: url(../img/d1.png) no-repeat left center;
		}
	}
	li:nth-child(2){
		a{
			background: url(../img/d2.png) no-repeat left center;
		}
	}
	li:nth-child(3){
		a{
			background: url(../img/d3.png) no-repeat left center;
		}
	}
	li:nth-child(4){
		a{
			background: url(../img/d4.png) no-repeat left center;
		}
	}
	li:nth-child(5){
		a{
			background: url(../img/d5.png) no-repeat left center;
		}
	}
	li:nth-child(6){
		a{
			background: url(../img/d6.png) no-repeat left center;
		}
	}
	li:nth-child(7){
		a{
			background: url(../img/d7.png) no-repeat left center;
		}
	}
}



// Регистрация в sub menu
.dd-reg-mobile{
	padding-left: 12px;
	padding-top: 31px;
	padding-bottom: 31px;
	a{
		display: inline-block;
		color:#6E6E69;
		font-family: "RobotoRegular";
		font-size: 14px;
	}
	a:last-child{
		padding-left: 18px;
	}
}
.dd-title-dekstop{
	display:none;
}
@media only screen and (min-width : 320px) {

	// Submenu
	.dd-center, .dd-left, .dd-reg-mobile{
		width: 320px;
		margin: 0 auto;
	}
	.dd-box-center{
		li{
			a:after{
				display: block;
			}
		}
	}
	// конец submenu

	.header-wrap{
		.input-view-header{
			width: 100%;
			position: relative;
		}
		.dd-input-header{
			position:relative;
		}
		.lupa-submit{
			position:absolute;
			left:64%;
			top:-53px;
			display:block;
			outline: none;
			border:none;
			background: url(../img/lupa.png) no-repeat;
			width: 22px;
			height: 22px;
		}
		.dd-input-header:before{
			content:"";
			position:absolute;
			background: url(../img/strel.jpg) no-repeat;
			width: 8px;
			height: 5px;
			left:66%;
			top:-13px;
			z-index: 9999;
		}	
	}
}

@media only screen and (min-width : 480px) {
	.dd-korzina{
		.dd-korzina-img{
			padding-right: 20px;
		}
	}
}

@media only screen and (min-width : 768px) {
	// submenu
.dd-left-center{
	width: 641px;
	margin: 0 auto;
}
.dd-center{
	float: left;
		// height: 354px;
	}
	.dd-left{
		width: 100%
	}
	.dd-box{
		float: left;
	}
	.dd-box2{
		padding-left: 75px;
	}
	// end submenu
	.header-wrap{
		.input-view-header{
			height: 44px;
		}
		.lupa-submit{
			display: none;
		}
		.dd-input-header:before{
			display: none;
		}
		.clearfix-display{
			display: none;
		}
		.dd-logo{
			float:left;
		}
		.dd-input-header{
			float: right;
			width: 298px;
			margin-right: 55px;
		}
		.clearfix-display2{
			display: block;
		}	
	}
}

@media only screen and (min-width : 992px) {
	// submenu
	.dd-sub-menu{
		left:0%;
		transform:translate(0%, 0);
		z-index:9999;
	}
.dd-title-dekstop{
	display:block;
	padding-bottom: 26px;
	span{
		color:#fff;
		font-family: "UbuntuBold";
		font-size: 25px;
	}
}
.dd-right{
	padding-top: 82px;
	padding-bottom: 42px;
}
.sub-clearfix{
	display: none;
}
.dd-box{
	float: unset;
}
.dd-box2{
	padding-left: 0;
}
.dd-left, .dd-left-center{
	float: left;
}
.dd-left{
	padding-top: 85px;
	width: 288px;
		// height: 486px;
	}
	.dd-reg-mobile{
		display: none;
	}
	.dd-center{
		// height: 486px;
	}
	// end submenu
}

@media only screen and (min-width : 1248px) {
	.dd-sub-menu{
		// position:absolute;
		top:196px;
	}
	.dd-menu-dekstop-wrap{
		display:block;
	}
	.header-wrap{
		background: none;
		padding: 30px 0px 28px;
		.input-view-header{
			display: none;
		}
		.dd-burger{
			display: none;
		}
		.dd-korzina{
			display: inline-block;
		}
		.dd-korzina-img{
			background: #232323;
			width: 50px;
			height: 50px;
			border-radius:25px;
			display: block;
			padding-left: 16px;
			padding-top: 14px;
			float:left;
		}
		.dd-korzina-txt{
			display: block;
			float:left;
			padding-left: 16px;
			span:first-child{
				color:#A3A39D;
				text-transform: uppercase;
				font-family: "UbuntuBold";
			}
			span:last-child{
				color:#7A7A74;
				font-family: "RobotoRegular";
			}
		}
		.dd-reg-wrap{
			float: left;
			display: block;
			padding-right: 60px;
			padding-top: 10px;
			span{
				a{
					color:#7A7A74;
					font-family: "RobotoRegular";
				}
			}
			span:first-child{
				padding-right: 30px;
			}
		}	
	}
}

