.sidebar{
	font-size: 14px;
	color: #fff;
	background: #1e1e1e;
	font-size: 14px;
	font-family: "RobotoRegular";
	width: 290px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 10px 20px 10px 0;
	.nav_item_header{
		cursor: pointer;
		font-weight: 400;
		font-family: "UbuntuBold";
		padding: 8px 10px 8px 35px;
		text-transform: uppercase;
		font-size: 14px;
		max-width: 190px;
		line-height: 22px;
		background: url(../img/sidebar_ic.png) left 9px no-repeat;
		&--sport{
			background: url(../img/sidebar_ic.png) left -38px no-repeat;	
		}
		&--game{
			background: url(../img/sidebar_ic.png) left -96px no-repeat;	
		}
		&--avto{
			background: url(../img/sidebar_ic.png) left -152px no-repeat;	
		}
		&--home{
			background: url(../img/sidebar_ic.png) left -206px no-repeat;	
		}
		&--music{
			background: url(../img/sidebar_ic.png) left -275px no-repeat;	
		}
	}
	.sub_menu_header{
		cursor: pointer;
		color: #d1d1cc;
		font-weight: 400;
		font-size: 16px;
		padding: 5px 25px 5px 35px;
		position: relative;
		&.plus::before{
			content: "";
			width: 17px;
			height: 17px;
			position: absolute;
			left: 6px;
   		top: 8px;
			background: url(../img/category_open.png) top no-repeat;
		}
		&.active.plus::before{
			background: url(../img/category_open.png) bottom no-repeat;
		}
	}
	a.sub_menu_link{
		color: inherit;
		display: inline-block!important;
		padding: 5px 24px 5px 0px;
		background: url(../img/arrow_ic.png) right center no-repeat;
	}
	.inner_sub_menu{
		padding-right: 25px;
		a{
			display: block;
			font-size: 14px;
			color: #a2a29c;
			padding: 5px 24px 5px 45px;
		}
	}
}
.cart{
	h1{
		color: #1e1e1e;
		font-size: 34px;
		padding: 10px 0;
	}
	.slider_info_block .slick-arrow{
		display: none!important;
	}
	.slider_info_block{
		padding: 12px 5px;
		margin-bottom: 27px;
	}
	.slide_info_in{
		width: 100%;
		position: relative;
	}
	.slide_info_in span{
		font-size: 13px;
		text-transform: uppercase;
		color: #fff;
		background: #e1223c;
		position: absolute;
		top: 0;
		left: 21px;
		padding: 3px 10px 4px 14px;
		border-bottom-right-radius: 13px;
	}
	.slide_info_img{
		padding-bottom: 31px;
		max-width: 368px;
		margin: 0 auto;
	}
	.slide_info_img img{
		width: 100%;
		height: auto;
		min-height: 100%;
	}
	.slider_info_block .slick-dots{
		position: relative;
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 12px;
		padding-left: 3px;
		margin-left: 5px;
	}
	.slider_info_block .slick-dots::before{
		content: "Выберите цвет:";
		color: #968c85;
		font-size: 12px;
		display: block;
		letter-spacing: -0.1px;
		margin-left: -5px;
		margin-bottom: 7px;
	}
	.slider_info_block .slick-dots li{
		display: inline-block;
		margin-right: 7px;
		position: relative;
	}
	.slider_info_block .slick-dots button{
		width: 22px;
		height: 22px;
		border: none;
		border-radius: 50%;
		color: transparent;
		background: #f84040;
	}
	.slider_info_block .slick-dots li:nth-child(2) button{
		background: #e8ff7c;
	}
	.slider_info_block .slick-dots li:nth-child(3) button{
		background: #7cbaff;
	}
	.slider_info_block .slick-dots li:nth-child(4) button{
		background: #fbf8c5;
	}
	.slider_info_block .slick-dots li.slick-active::before{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 9px 8px;
		border-color: transparent transparent #c4c4c4 transparent;
		position: absolute;
		bottom: -11px;
		left: 50%;
		margin-left: -8px;
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

