@import "reset.css";
@import "fonts.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "style8.css";
@import "style9.css";
@import "style10.css";


/* Guide 
===============================*/
.color-pallet-wrap{
	background:#1E1E1E;
	padding: 70px;
}
.cl-title{
	color:#fff;
	font-family: "UbuntuBold";
	text-align: left;
	text-transform: uppercase;
	font-size: 26px;
	padding-bottom: 70px;
}
.cl-pallette-box{
	margin-bottom: 25px;
	li{
		margin-left: 50px;
		display: inline-block;
		span{
			float:left;
			display: inline-block;
			padding-top: 24px;
			padding-left: 10px;
			color: #d1d1cc;
			font-family: "UbuntuBold";
			font-size: 15px;
			text-transform: uppercase;
		}
	}
	li:first-child{
		margin-left: 0;
	}
}
.cl-box{
	border-radius:10em;
	width: 68px;
	height: 68px;
	float: left;
}
.cl-box1{
	background:#e3181b;
}
.cl-box2{
	background: #ffff00;
}
.cl-box3{
	background: #ffa500;
}
.cl-box4{
	background: #d0d0c0;
}
.cl-box5{
	background: #a9a99c;
}
.cl-box6{
	background: #74746c;
}
.cl-box7{
	background: #fff;
}
.cl-box8{
	background: #1e1e1e;
	border:1px solid grey;
}
.cl-box9{
	background: #282828;
}
.cl-box10{
	background: #2c2c2c;
}
.cl-pallette-box2{
	li:nth-child(2){
		margin-left: 79px;
	}
	li:nth-child(3){
		margin-left: 50px;
	}
	li:first-child{
		margin-left: 0;
	}
}

// Typography /////////
.tp-wrapper{
	background:#282828;
	padding: 70px;
	padding-bottom: 0px;
}
.tp-container{
	border:1px solid #363636;
	padding: 50px;
}
.tp-box{
	float: left;
	width: 518px;
}
.dd-inner-box{

}
.tp-1{
	font-family: "MyriadPro-Regular";
	font-size: 15px;
	color:#797974;
}
.tp-2{
	margin-top: 50px;
	margin-bottom: 22px;
	font-family: "RobotoRegular";
	font-size: 16px;
	color:#797974;
}
.dd-katalog{
	margin-top: 50px;
	margin-bottom: 18px;
	text-transform: uppercase;
	font-family: "UbuntuBold";
	color: #fff;
	font-size: 14px;
	span{
		color:#d1d1cc;
		padding-left: 15px;
		span{
			padding-left: 15px;
			color:#a2a29c;
		}
	}
}
.tp-title{
	display: inline-block;
	font-family: "UbuntuBold";
	color:#fff;
	font-size: 22px;
	padding-top: 25px;
	padding-bottom: 16px;
}
.tp-italic{
	font-family: "pt-serif-italic_[allfont.ru]";
	color:#797974;
	margin-top: 50px;
	margin-bottom: 18px;
}
.tp-paragraph{
	margin-top: 55px;
	margin-bottom: 20px;
	font-family: "RobotoRegular";
	color:#74746c;
}

// Price & Cart
.pr-wrap{
	background:#fff;
	padding: 50px;
}
.pr-product{
	font-size: 20px;
	color: #1e1e1e;
	font-family: "UbuntuBold";
	margin-bottom: 20px;
}
.pr-complect{
	font-family: "RobotoRegular";
	font-size: 14px;
	color:#A9A99C;
	margin-top: 73px;
	margin-bottom: 20px;
}
.pr-name{
	font-family: "UbuntuBold";
	color:#1e1e1e;
	font-size:16px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.but-wrap{
	padding-top: 80px;
	background:#1E1E1E;
}
.but-state{
	padding-bottom: 50px;
	span{
		font-family: "UbuntuBold";
		text-transform: uppercase;
		font-size: 14px;
		color:#D1D1CC;
	}
}
.but-box-item{
	padding-bottom: 25px;
}
.but-box-wrap{
	float: left;
	width: 204px;
	margin-left: 50px;
}
.but-box-wrap-ml-0{
	margin-left: 0;
}

/*Кнопки 
=============================*/

//Купить сейчас 
.bye-but{
	display: inline-block;
	width: 180px;
	height: 48px;
	border: 2px solid #e3181b;
	border-radius: 2px;
	color:#fff;
	font-family: "UbuntuBold";
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	line-height: 43px;
	transition:0.7s;
}
.bye-but:hover{
	background:#e3181b;
	color:#fff;
}

// В корзину
.in-package{
	display: inline-block;
	background:#e3181b;
	width: 130px;
	height: 48px;
	color:#fff;
	font-family: "UbuntuBold";
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	padding-left: 16px;
	line-height: 46px;
	border-radius: 2px 0px 0px 2px;
	position: relative;
	transition:0.7s;
}
.in-package:after{
	content: "";
	position: absolute;
	right: -50px;
	width: 50px;
	height: 48px;
	background:#e3181b url(../img/korz2.png) no-repeat center;
	border-radius: 0px 2px 2px 0px;
	transition:0.7s;
}
.in-package:hover{
	background:#ff4346;
}
.in-package:hover:after{
	background:#ff4346 url(../img/korz2.png) no-repeat center;
}

// В корзину small
.in-package-small{
	display: inline-block;
	font-size:13px;
	background:#e3181b;
	width: 108px;
	height: 36px;
	color:#fff;
	font-family: "UbuntuBold";
	text-transform: uppercase;
	border-radius:2px;
	text-align: center;
	line-height: 33px;
	transition:0.7s;
}
.in-package-small:hover{
	background:#ff4346;
}

//Вид кнопок при ховере
.bye-but2{
	background:#e3181b;
}
.in-package2{
	background:#ff4346;
}
.in-package-small2{
	background:#ff4346;
}
.in-package2:after{
	background:#ff4346 url(../img/korz2.png) no-repeat center;
}

// Вид при Disable
.disable, .disable-package{
	background:#423233;
	border:none;
	color:#807676;
}
.disable:hover, .disable-package:hover{
	background:#423233;
	border:none;
	color:#807676;
}
.disable-package:after{
	background:#423233 url(../img/korz3.png) no-repeat center;
}
.disable-package:hover:after{
	background:#423233 url(../img/korz3.png) no-repeat center;
}

/* Other element
==============================*/
.oth-wrap{
	background:#1E1E1E;
	padding-top: 30px;
	padding-bottom: 55px;
}
.sp-korz{
	color: #A3A39D;
	text-transform: uppercase;
	font-family: "UbuntuBold";
	font-size: 14px;
}
.sp-korz2{
	color: #7A7A74;
	font-family: "RobotoRegular";
	font-size: 14px;
}
.min-float{
	float:left;
}
.dd-basket{
	margin-left: 29px;
}
.dd-korzina-img_bg{
	background:#282828;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	padding-top: 14px;
	text-align: center;
}

//Электроника и компьютеры
.menu-el{
	margin-top: 50px;
}
.menu-el__view{
	cursor: pointer;
	font-weight: 400;
	font-family: "UbuntuBold";
	padding: 8px 10px 8px 35px;
	text-transform: uppercase;
	font-size: 14px;
	max-width: 190px;
	line-height: 22px;
	background: url(../img/f1.svg) 5px 12px no-repeat;
	color:#fff;
}
.menu-el__view:hover{
	color:#C6C6C6;
}
.sp-hover:hover span{
	color:#D0D0C0;
}
.hover-style{
	color:#D0D0C0;
}

// Плюс, минус
.plus_minus{
	padding-top: 35px;
}
.dd-minus{
	display: inline-block;
	background: url(../img/minus.svg) no-repeat;
	width: 17px;
	height: 17px;
	right: -30px;
	top: 3px;
}
.dd-plus{
	display: inline-block;
	margin-left: 15px;
	background: url(../img/plus.svg) no-repeat;
	width: 17px;
	height: 17px;
	right: -30px;
	top: 3px;
}
/*============================*/

// Tech php
h3{
	font-size: 25px;
}
.container-tech-php{
	padding-left: 30px;
}
.dd-wrap-tech-h1{
	background:black;
}
// end tech php


.clear{
	clear: both;
}
.center{
	text-align: center;
}

// Заголовок
h1{
	color:#fff;
	font-size: 24px;
	font-family: "UbuntuBold";
}

// Кнопка
.button-1{
	display: inline-block;;
	background:#E3181B;
	border-radius: 2px;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	padding: 10px 14px;
	font-family: "UbuntuBold";
	transition:0.4s;
}
.button-1:hover{
	background:#FF4346;
	transition:0.4s;
}
// Инпут для поиска по разделам


.input-view{
	outline: none;
	border:none;
	height: 50px;
	background:#282828;
	padding-left: 20px;
	// color:#DEDEDE;
	color:#EAEAEA;
	font-size: 14px;
	font-family: "RobotoRegular";
}
.input-view_width{
	width: 288px;
}

// Сабмит для поиска по разделам
.submit-view{
	font-family: "UbuntuBold";
	color:#fff;
	font-size: 14px;
	height: 50px;
	background:#282828;
	border:none;
	outline: none;
	text-transform: uppercase;
}
.submit-view-width{
	width: 116px;
}

// Селект
.az-select{
	width: 194px;
	height: 50px;
	position: relative;
	cursor: pointer;
	background:#282828;
	padding-top: 4px;
}
select{
	height: 36px;
	width: 100%;
	border: none;
	background: transparent;
	outline: none;
	padding: 0 15px;
	letter-spacing: 0.02em;
	font-family: "RobotoRegular";
	color:#A3A3A3;
	font-size: 14px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.next-select{
	color:black;
}
select::-ms-expand {
	display: none;
}
.az-options{
	display: none;
	top: calc(100% + 2px);
	left: 0px;
	width: calc(100% + 0px);
	position: absolute;
	background: rgba(0,0,0,0.8);
	z-index: 6;
}

div[data-val]{
	font-size: 14px;
	font-family: "RobotoRegular";
	color:#A3A3A3;
	padding: 0 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	cursor: pointer;
}
div[data-val]:hover{
	background: rgba(255,255,255,0.1);
}

.az-select:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 15px;
	width: 13px;
	height: 8px;
	background: url(../img/select-arrow.svg) no-repeat top left;
	z-index: 1;
}
// .az-select-focus:before{
// 	background: url(../img/select-arrow-focus.png) no-repeat top left;
// }
.az-select_style{
	position: relative;
	z-index: 2;
}
.az-select2{
	background:#fff;
	border:1px solid #CACACA;
	position: relative;
	border-radius: 2px;

}
.az-select2:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 15px;
	width: 13px;
	height: 8px;
	background: url(../img/redstr.svg) no-repeat top left !important;
	z-index: 1;
}

// Кнопка в корзину
.button-2{
	padding: 17px 19px 17px 34px;
	position: relative;
}
.button-2:after{
	content:"";
	position: absolute;
	background:url(../img/korz.svg) no-repeat top right;
	width: 50px;
	height: 50px;
	right: -49px;
	top:0;
}

// Счетчик товара
.df-number{
	border:1px solid #CACACA;
	border-radius: 2px;
	width: 120px;
	height: 33px;
	.dfbutton{
		display: inline-block;
		width: 34px;
		height: 31px;
		padding-left: 11px;
		padding-top: 0px;
		color:red;
		font-family: "RobotoRegular";
		font-size: 21px;
		cursor: pointer;
		color:transparent;
	}
	.dfbutton2{
		padding-left: 14px;
		border-right:1px solid #CACACA;
		background: url(../img/min.svg) no-repeat center;
	}
	.dfbutton3{
		border-left:1px solid #CACACA;
		background: url(../img/pl.svg) no-repeat center;
	}
	input[type="text"]{
		// border-right: 1px solid #CACACA;
		width: 42px;
		background:#fff;
		border:none;
		outline: none;
		font-family: "UbuntuBold";
		color:black;
		text-align: center;
	}
}

// Радио кнопки
.radio-lable{
	display: block;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;     
	width: 18px;             
	height: 18px;            
	border: 1px solid #282828;
	background:none;
	border-radius: 10em;
	margin-top: 13px;
	cursor:pointer;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
	content: "";             
	display: block;        
	position: absolute;     
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: red;
	border-radius: 10em;
}

.section_padding{
	padding:20px 0;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


